<footer class="dark:bg-neutral-800 py-12 mx-auto">

  <hr class="my-6 border-gray-200 dark:border-gray-700 md:my-10">

  <div class="flex flex-col items-center gap-4 justify-between sm:flex-row px-12">
    <div class="flex flex-col sm:flex-row gap-2 text-sm text-gray-500 dark:text-gray-300">
      <span class="block text-center pr-2 md:border-gray-300 md:border-r">© 2022</span>
      <div>
        <span>Build with 💙 by</span>
        <a href="https://antheiz.my.id" target="_blank">Theis Andatu</a>
      </div>
    </div>
    <div class="flex flex-col justify-center gap-6 text-sm sm:flex-row text-center text-gray-500 dark:text-gray-300">
      <a rel="noopener noreferrer" class="hover:underline" href="#">
        <span>Kebijakan Privasi</span>
      </a>
      <a rel="noopener noreferrer" class="hover:underline" href="#">
        <span>Ketentuan Layanan</span>
      </a>
    </div>
  </div>
</footer>