{% extends "layout.html" %}

{% block content %}
<!-- Blog Article -->
<div class="flex justify-center px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto dark:bg-neutral-800">
    <div class="max-w-2xl">
        <!-- Content -->
        <div class="space-y-5 md:space-y-8">
            <div class="space-y-3">
                <h2 class="text-2xl font-bold md:text-3xl dark:text-white">Kebijakan Privasi</h2>

                <p class="text-lg text-gray-800 dark:text-gray-200">
                    Kastau Link menghormati privasi Anda dan berkomitmen untuk melindungi data pribadi Anda. Dokumen ini
                    menjelaskan bagaimana kami mengumpulkan, menggunakan, dan melindungi informasi pribadi Anda saat
                    Anda menggunakan layanan kami. Dengan menggunakan layanan kami, Anda menyetujui kebijakan privasi
                    ini.
                </p>
            </div>

            <!-- <p class="text-lg text-gray-800 dark:text-gray-200">We're proud to be a part of creating a more open culture
                and to continue building a product that supports this vision.</p> -->

            <div class="space-y-3">
                <h3 class="text-lg font-semibold dark:text-white">Informasi yang Kami Kumpulkan</h3>

                <p class="text-lg text-gray-800 dark:text-gray-200">Kastau Link hanya mengumpulkan informasi yang
                    diberikan secara sukarela oleh pengguna. Informasi yang dapat kami kumpulkan meliputi:</p>

                <ul class="list-decimal list-outside space-y-5 pl-5 text-lg text-gray-800 dark:text-gray-200">
                    <li class="pl-2"><span class="font-semibold">Alamat Email</span> Jika Anda memutuskan untuk membuat
                        akun dengan akun Gmail Anda, kami dapat mengakses alamat email Anda. Kami akan menggunakan
                        alamat email ini hanya untuk tujuan otentikasi dan komunikasi terkait dengan layanan kami.</li>
                    <li class="pl-2"><span class="font-semibold">Nama Pengguna Gmail:</span> Jika Anda memutuskan untuk
                        membuat akun dengan akun Gmail Anda, kami dapat mengakses nama pengguna Gmail Anda. Kami akan
                        menggunakan informasi ini hanya untuk tujuan otentikasi dan komunikasi terkait dengan layanan
                        kami.</li>
                    <li class="pl-2"><span class="font-semibold">Foto Profil:</span> Kami dapat menggunakan foto profil
                        yang terdapat pada akun Gmail sebagai foto profil akun yang terdaftar di Kastau Link</li>
                    <li class="pl-2"><span class="font-semibold">URL Asli yang Disingkat</span> Kami akan menyimpan URL
                        asli yang Anda singkatkan menggunakan layanan kami.</li>
                </ul>
            </div>

            <div class="space-y-3">
                <h3 class="text-lg font-semibold dark:text-white">Bagaimana Kami Melindungi Informasi Anda</h3>

                <p class="text-lg text-gray-800 dark:text-gray-200">Kami mengambil langkah-langkah keamanan yang wajar
                    untuk melindungi informasi pribadi Anda dari akses, penggunaan, atau pengungkapan yang tidak sah.
                    Meskipun demikian, kami tidak dapat menjamin keamanan sepenuhnya dari informasi yang Anda kirimkan
                    kepada kami, dan Anda mengerti bahwa Anda mengirimkan informasi tersebut dengan risiko Anda sendiri.
                </p>
            </div>

            <div class="space-y-3">
                <h3 class="text-lg font-semibold dark:text-white">Tautan ke Situs Web Eksternal</h3>

                <p class="text-lg text-gray-800 dark:text-gray-200">Layanan kami mungkin berisi tautan ke situs web
                    eksternal yang tidak dioperasikan oleh kami. Kami tidak bertanggung jawab atas konten atau praktik
                    privasi dari situs web tersebut. Kami mendorong Anda untuk membaca kebijakan privasi mereka sebelum
                    memberikan informasi pribadi.
                </p>
            </div>

            <div class="space-y-3">
                <h3 class="text-lg font-semibold dark:text-white">Perubahan pada Kebijakan Privasi</h3>

                <p class="text-lg text-gray-800 dark:text-gray-200">Kami dapat memperbarui Kebijakan Privasi ini dari
                    waktu ke waktu. Perubahan signifikan akan diinformasikan kepada pengguna melalui pemberitahuan di
                    situs web kami atau melalui email yang terkait dengan akun Anda. Anda diharapkan untuk memeriksa
                    kebijakan ini secara berkala untuk tetap berada dalam pengetahuan tentang bagaimana kami melindungi
                    informasi yang kami kumpulkan.
                </p>
            </div>

            <div class="space-y-3">
                <h3 class="text-lg font-semibold dark:text-white">Hubungi Kami</h3>

                <p class="text-lg text-gray-800 dark:text-gray-200">Jika Anda memiliki pertanyaan atau komentar tentang
                    Kebijakan Privasi kami, atau jika Anda ingin mengakses, memperbarui, atau menghapus data Anda yang
                    kami miliki, silakan hubungi kami melalui email di <a href="mailto:theisandatu@gmailc.om"
                        target="_blank" class="underline">theisandatu@gmail.com</a>.
                </p>
            </div>

        </div>
        <!-- End Content -->
    </div>
</div>
{% endblock content %}