{% extends "layout.html" %}

{% block content %}
<!-- Blog Article -->
<div class="flex justify-center px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto dark:bg-neutral-800">
    <div class="max-w-2xl">
        <!-- Content -->
        <div class="space-y-5 md:space-y-8">
            <div class="space-y-3">
                <h2 class="text-lg font-bold md:text-xl dark:text-white">Ketentuan Layanan</h2>

                <p class="text-gray-800 dark:text-gray-200">
                    Selamat datang di Kastau Link. Dengan menggunakan layanan kami, Anda setuju untuk mematuhi dan
                    terikat oleh ketentuan layanan berikut:
                </p>
            </div>

            <div class="space-y-3">
                <h3 class="font-semibold dark:text-white">Penggunaan Layanan</h3>

                <ul class="list-decimal list-outside space-y-5 pl-5 text-gray-800 dark:text-gray-200">
                    <li class="pl-2">Anda setuju untuk tidak menggunakan layanan kami untuk tujuan ilegal atau yang
                        melanggar hak-hak orang lain.</li>
                    <li class="pl-2">Anda bertanggung jawab penuh atas URL yang Anda singkat menggunakan layanan kami.
                    </li>
                    <li class="pl-2">Kami tidak bertanggung jawab atas kerugian atau kerusakan yang timbul dari
                        penggunaan atau ketidakmampuan menggunakan layanan kami.</li>
                </ul>
            </div>

            <div class="space-y-3">
                <h3 class="font-semibold dark:text-white">Akun Pengguna</h3>

                <ul class="list-decimal list-outside space-y-5 pl-5 text-gray-800 dark:text-gray-200">
                    <li class="pl-2">Jika Anda membuat akun dengan kami, Anda bertanggung jawab untuk menjaga keamanan
                        akun Anda dan informasi login Anda.</li>
                    <li class="pl-2">Anda setuju untuk memberikan informasi yang akurat dan lengkap selama pendaftaran.
                    </li>
                </ul>
            </div>

            <div class="space-y-3">
                <h3 class="font-semibold dark:text-white">Perubahan Ketentuan</h3>

                <p class="text-gray-800 dark:text-gray-200">Kami dapat mengubah ketentuan layanan ini dari waktu
                    ke waktu. Perubahan signifikan akan diinformasikan kepada pengguna melalui pemberitahuan di situs
                    web kami atau melalui email yang terkait dengan akun Anda.
                </p>
            </div>

            <div class="space-y-3">
                <h3 class="font-semibold dark:text-white">Pengakhiran Layanan</h3>

                <p class="text-gray-800 dark:text-gray-200">Kami berhak untuk mengakhiri atau membatasi akses
                    Anda ke layanan kami kapan saja, dengan atau tanpa pemberitahuan, atas alasan apa pun, tanpa
                    menanggung tanggung jawab apa pun terhadap Anda.
                </p>
            </div>

            <div class="space-y-3">
                <h3 class="font-semibold dark:text-white">Hubungi Kami</h3>

                <p class="text-gray-800 dark:text-gray-200">Jika Anda memiliki pertanyaan atau komentar tentang
                    ketentuan layanan kami, silakan hubungi kami melalui email di <a href="mailto:theisandatu@gmailc.om"
                        target="_blank" class="underline">theisandatu@gmail.com</a>.
                </p>
            </div>

        </div>
        <!-- End Content -->
    </div>
</div>
{% endblock content %}