<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page.capitalize()}} • Kastau Link</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        poppins: 'Poppins',
                    }
                }
            }
        }
    </script>
</head>

<body class="font-poppins">

    <!-- NAVBAR -->
    {% include 'snippets/navbar.html' %}


    <!-- Content -->
    {% block content %}
        
    {% endblock content %}     


    <!-- Footer -->
    {% include 'snippets/footer.html' %}  
    



    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.js"
        integrity="sha512-6m6AtgVSg7JzStQBuIpqoVuGPVSAK5Sp/ti6ySu6AjRDa1pX8mIl1TwP9QmKXU+4Mhq/73SzOk6mbNvyj9MPzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Custom Script -->
    {% block scripts %}
        
    {% endblock scripts %}
        
</body>

</html>